/**
* MARHS WEBSITE ver. 001 (ALPHA REVISED)
* Author : Vincent Ferrer
* Ask Vincent Ferrer for changes/updates

==== COLOR PALLETE ====
golden yellow:
#e6a314

brown:
#733411

Gradient Backgrounds:
Light Gold Yellow:
#e6a314

Dark Gold Yellow:
#febb2e


Elements or Abstracts:
Light Gold Yellow:
#e6a314

Dark Gold Yellow:
#febb2e

**/

/*--------------------------------------------------------------
==== GENERAL ====
--------------------------------------------------------------*/
html, body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trueno Regular', sans-serif;
    color: #444444;
}

a {
    color: #733411;
    text-decoration: none;
}

a:hover {
    color: #b8860b;
    text-decoration: none;
}

/*--------------------------------------------------------------
# WELCOME PAGE
--------------------------------------------------------------*/
.welcome-hero {
    height: 100vh;
}

.welcome-hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.123);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.welcome-hero img {
    width: 100%;
}

.welcome-hero .container {
    position: relative;
    bottom: 100px;
}

.welcome-hero .col-md-12 {
    color: #f6f9ef;
    margin-top: -40px;
}

.welcome-hero .col-md-8 {
    margin-top: -40px;
}

@media (max-width: 768px) {
    .welcome-hero .col-md-8 {
        margin-top: -10px;
    }
}

@media (max-width: 1024px){
    .welcome-hero {
        height: 95vh;
        background-image: url(../img/welcome/bg-1.png);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 320px){
    .welcome-hero .container{
        margin-top: 50px;
    }
}

.welcome-hero .btn-learn-more {
    font-family: 'Trueno Regular', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #733411;
}

.welcome-content .btn-learn-more {
    font-family: 'Trueno Regular', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 20px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #733411;
}

.welcome-hero .btn-learn-more:hover {
    background: #b35929;
}

.welcome-content {
    border-top: rgba(115, 52, 17, 1) solid thin;
    border-bottom: rgba(115, 52, 17, 1) solid thin;
}

.welcome-content p {
    font-family: "Trueno Light";
}


/*--------------------------------------------------------------
# HAMBURGER MENU
--------------------------------------------------------------*/

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
.outer-menu {
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1;
}
.outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
    transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before, .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
    pointer-events: auto;
    visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: .75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity .4s ease .4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
    box-shadow: inset 0 0 10px rgba(230, 164, 20, 0.507);
}

.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
.outer-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: .5em 1em;
    background: rgba(115, 52, 17, 1);
    border-radius: 0 .12em .12em 0;
    cursor: pointer;
    transition: box-shadow .4s ease;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #FEFEFE;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer-menu .hamburger > div:before, .outer-menu .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    transition: all .4s ease;
}
.outer-menu .hamburger > div:after {
    top: 10px;
}
.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer-menu .menu > div {
    width: 200vw;
    height: 200vw;
    color: #FEFEFE;
    background: rgba(230, 163, 20, 0.95);
    border-radius: 100%;
    transition: all .4s ease;
    flex: none;
    transform: scale(0);
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-menu .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity .4s ease;
    overflow-y: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer-menu .menu > div > div > ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
    font-family: "Trueno SemiBold";
    padding: 0;
    margin: 1em;
    font-size: 28px;
    display: block;
}
.outer-menu .menu > div > div > ul > li > a {
    position: relative;
    display: inline;
    cursor: pointer;
    transition: color .4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
    color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
    width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #e5e5e5;
    transition: width .4s ease;
}

/*--------------------------------------------------------------
# WELCOME - CONTENT
--------------------------------------------------------------*/
.welcome-content {
    padding: 110px 0;
}

.welcome-content p {
    text-align: justify;
}


/*--------------------------------------------------------------
# MANTRA CALL TO ACTION
--------------------------------------------------------------*/
.mantra-cta {
    background-image: url(../img/mantra-cta/bg-mantra.jpg);
    height: 510px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: rgba(115, 52, 17, 1) solid thin;
}

.mantra-cta h2 {
    font-family: 'Bebas Neue Regular';
    color: #f8f8ff;
    font-size: 64px;
}

@media (max-width: 425px){
    .mantra-cta h2 {
        font-size: 48px;
    }
    .mantra-cta p {
        font-size: 18px;
    }
}

.mantra-cta p {
    font-size: 20px;
    color: #f6f9fe;
}

.mantra-cta .mantra-cta-btn {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 26px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    border: 2px solid #fff;
}

.mantra-cta .mantra-cta-btn:hover {
    background: #733411;
    border-color: #733411;
    color: #151515;
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/

.footer {
    border-top: rgba(115, 52, 17, 1) solid thin;
    font-family: 'Trueno Light';
    text-align: center;
    background: #f6f9ff;;
    padding: 0 0 30px 0;
    font-size: 14px;
}

.footer .footer-top {
    background: white;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding: 30px 0 30px 0;
}

.footer .footer-top img {
    max-height: 80px;
}

.footer .footer-top .footer-info p {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 0;
}

.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: #733411;
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    color: #b8860b;
}

.footer .copyright {
    text-align: center;
    padding-top: 30px;
}
  
.footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
}

.map {
    line-height: 0; 
    padding: 10px 0;
}